<!DOCTYPE html>



<html>
    <head>
        <title>Admin Page</title>
        <link rel="stylesheet" type="text/css" href="../src/css/index.css"/>
        <link  rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Raleway:500'/>
        <!-- react scripts -->
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    </head>

    <body>
        <h1>Admin Dashboard</h1>
        <a href="/logout">Logout</a>
        <div id="like_button_container">

        </div>

        <!-- file with react code-->
        <script src="../src/scripts/adminDashboard.js"></script> 
    </body>

</html>