<!DOCTYPE html>
<html>
    <head>
        <title>Investing Site</title>
        <link rel="stylesheet" href="src/css/index.css"/>
        <link href='https://fonts.googleapis.com/css?family=Raleway:500' rel="stylesheet" type="text/css"/>
    </head>

    <h1>Hello <%=user %></h1>
    <a href="/logout">Logout</a>
    </body>
</html>